@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
/* BACKGROUND IMAGE*/
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(backgro.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/*END BACKGROUND IMAGE */

/* NAVIGATION */
.navbar{
    width: 100%;
    height: 50px;
    margin: auto;
    text-decoration: none;
    color: inherit;
    padding: 1rem;   
}

.navbar:hover{
    background: #7c7c6b;
    color: white;
}
/* END NAVIGATION*/

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #f5f5f5;
    font-size: 50px;
    font-family: Arial;
    padding-left: 0px;
    float: left;
    padding-top: px;
    margin-top: px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #000000;
}

.search{
    width: 330px;
    float: left;
    margin-left: 300px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #fffdfc;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #aa917c;
    border: 2px solid #f3f0ed;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: 2%;
    color: #fff;
    position: fixed;
    bottom: 120px;
}
/* CONTENT POSITION */

.content .par{
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 40px;
    text-align: justify;
}
/* CONTENT */

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 1%;
    letter-spacing: 2px;
}
/* SHOES NAME TITLE WORD */

.content .cn{
    width: 160px;
    height: 50px;
    background: black;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}
/* LEARN MORE BTN COLOR*/

.content .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
    font-weight: bold;
}
/* LEARN MORE WORD COLOR */

.cn:hover{
    background-color: #7c7c6b;
}
/* LEARN MORE BUTTON WHEN TOUCH BECOME ANOTHER COLOR */

.content span{
    color: rgb(224, 59, 59);
    font-size: 65px
}
/* FIRE RED WORD */
